.profile {
  padding: 70px 0 40px 0;
  margin: 0 auto;
  max-width: 410px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 425px) {
  .profile {
    padding: 236px 0 40px 0;
  }
}

@media (min-width: 1024px) {
  .profile {
    padding: 74px 0 40px 0;
  }
}

.profile__container {
  margin: 0 30px;
  padding: 63px 0 364px 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 425px) {
  .profile__container {
    padding: 79px 0 197px 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .profile__container {
    padding: 105px 0 208px 0;
  }
}

.profile__info {
  margin: 0;
  padding: 17px 0 0 0;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.profile__info:nth-child(even) {
  text-align: end;
}

.profile__info:nth-child(-n+2) {
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.profile__btn {
  padding-bottom: 16px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
}

@media (min-width: 425px) {
  .profile__btn {
    letter-spacing: 0.7px;
  }
}

.profile__btn_type_exit {
  padding: 0;
  color: #ff4062;
}
