.navigation {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  right: -520px;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
  z-index: 1;
}

@media (min-width: 1200px) {
  .navigation {
    display: none;
  }
}

.navigation_open {
  visibility: visible;
  opacity: 1;
  right: 0;
}

.navigation__container {
  width: 100%;
  padding: 144px 0 48px 0;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
}

@media (min-width: 425px) {
  .navigation__container {
    padding: 159px 0 92px 0;
  }
}


.navigation__close-btn {
  width: 30px;
  height: 30px;
  background-image: url(../../images/icons/navigation-close-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: +13.44px;
  right: +13.44px;
}

@media (min-width: 425px) {
  .navigation__close-btn {
    top: +22.44px;
    right: +22.44px;
  }
}

.navigation__link {
  color: #000;
  margin: 0 0 17px 0;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  align-self: center;
}

@media (min-width: 425px) {
  .navigation__link {
    margin: 0 0 21px 0;
  }
}

.navigation__link_type_saved-movies {
  margin: 0 0 auto 0;
}

.navigation__link_active {
  padding-bottom: 5px;
  border-bottom: 3px solid #000;
}
