.promo {
  min-height: 532px;
  padding-bottom: 38px;
  background-color: #f3c1f8;
  display: flex;
  position:relative;
}

@media (min-width: 425px) {
  .promo {
    min-height: 764px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .promo {
    min-height: 485px;
    padding-bottom: 40px;
  }
}

.promo__background-logo {
  position: absolute;
  top: calc(50% - 19px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 248px;
  height: 248px;
}

@media (min-width: 425px) {
  .promo__background-logo {
    width: 320px;
    height: 320px;
    top: calc(50% - 10px);
  }
}

@media (min-width: 1024px) {
  .promo__background-logo {
    top: calc(50% - 20px);
  }
}

.promo__title {
  margin: auto;
  text-align: center;
  font-size: 31px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -1.24px;
  max-width: 300px;
  width: 100%;
  z-index: 1;
}

@media (min-width: 425px) {
  .promo__title {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    max-width: 730px;
    min-width: 425px;
  }
}
